.board-row {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
}

.board-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
  margin-left: 35rem;
}
